<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-invalidation-code-heading">Create or edit a Invalidation Code</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!invalidationCode.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="invalidationCode.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="number" class="form-control" name="code" id="field_code"
                        [(ngModel)]="invalidationCode.code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shortDescription">Short Description</label>
                    <input type="text" class="form-control" name="shortDescription" id="field_shortDescription"
                        [(ngModel)]="invalidationCode.shortDescription" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_longDescription">Long Description</label>
                    <input type="text" class="form-control" name="longDescription" id="field_longDescription"
                        [(ngModel)]="invalidationCode.longDescription" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="invalidationCode.active" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createDate">Create Date</label>
                    <div class="input-group">
                        <input id="field_createDate" type="text" class="form-control" name="createDate" ngbDatepicker  #createDateDp="ngbDatepicker" [(ngModel)]="invalidationCode.createDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedDate">Updated Date</label>
                    <div class="input-group">
                        <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" ngbDatepicker  #updatedDateDp="ngbDatepicker" [(ngModel)]="invalidationCode.updatedDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updatedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
