<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invalidationCode">
            <h2><span>Invalidation Code</span> {{invalidationCode.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{invalidationCode.code}}</span>
                </dd>
                <dt><span>Short Description</span></dt>
                <dd>
                    <span>{{invalidationCode.shortDescription}}</span>
                </dd>
                <dt><span>Long Description</span></dt>
                <dd>
                    <span>{{invalidationCode.longDescription}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{invalidationCode.active}}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{invalidationCode.createDate}}</span>
                </dd>
                <dt><span>Updated Date</span></dt>
                <dd>
                    <span>{{invalidationCode.updatedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invalidation-code', invalidationCode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
