<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fileType">
            <h2><span>File Type</span> {{fileType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{fileType.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{fileType.description}}</span>
                </dd>
                <dt><span>Default Pattern</span></dt>
                <dd>
                    <span>{{fileType.defaultPattern}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{fileType.active}}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{fileType.createDate}}</span>
                </dd>
                <dt><span>Updated Date</span></dt>
                <dd>
                    <span>{{fileType.updatedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/file-type', fileType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
